@charset "utf-8";
 body {
      background-image: url('white.jpg');
      background-size: cover;
    }
	  .container { 
			margin: 20px auto; 
			width: 300px; 
			background-color: #f1f1f1; 
			padding: 20px; 
			border-radius: 5px; 
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
		} 

		h1 { 
			text-align: center; 
			margin-bottom: 20px; 
		} 

		input[type="number"] { 
			width: 100%; 
			padding: 10px; 
			margin-bottom: 10px; 
			box-sizing: border-box; 
		} 

		select { 
			width: 100%; 
			padding: 10px; 
			margin-bottom: 10px; 
			box-sizing: border-box; 
		} 

		p { 
			text-align: center; 
			margin-top: 20px; 
			font-weight: bold; 
			font-size: 20px; 
		} 
		.navigation-button {
			text-align: center;
			margin-top: 20px;
		}

		.big-button {
		  display: inline-block;
		  padding: 20px 30px;
		  font-size: 18px;
		  background-color: #5E77B0;
		  color: #FFFFFF;
		  text-decoration: none;
		  border-radius: 5px;
		  cursor: pointer;
		}

		.big-button:hover {
		  background-color: #3A4D80;
		}

